
<style>
  agm-map {
    height: 500px;
    width: 100%;
  }
  </style>
  
  <!-- Page Wrapper -->
  <div id="wrapper">
  
      <!-- start of Sidebar -->
      <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->
    
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
    
        <!-- Main Content -->
        <div id="content">
    
          <app-topnavbar></app-topnavbar>
    
          <!-- Begin Page Content -->
          <div class="container-fluid">
    
            <h1>Módulo Usuarios</h1>
            <div class="col-md-12" >
              <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                          <input type="hidden" class="form-control" [(ngModel)]="id" name="id" id="id" placeholder="">
                        <input type="text" class="form-control" [(ngModel)]="name" name="name" id="name" placeholder="Name">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <input type="text" class="form-control" [(ngModel)]="email" name="email" id="email" placeholder="Email">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <input type="text" class="form-control" [(ngModel)]="password" name="password" id="password" placeholder="Contraseña">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <div class="btn btn-success" (click)="ngOnGuardar()">Guardar</div>
                        <div class="btn btn-warning" (click)="ngOnActualizar()">Actualizar</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<br>
            <div class="col-md-12" >
              <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Contraseña</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="usuario in usuarios">
                            <td>{{ usuario }}</td>
                            <td>{{ usuario }}</td>
                            <td>{{ usuario }}</td>
                            <td>{{ usuario }}</td>
                            <td><div class="btn btn-warning" (click)="ngOnUpdate()">></div></td>
                            <td><div class="btn btn-danger" (click)="ngOnDelete()">X</div></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    
          </div>
          <!-- /.container-fluid -->
    
        </div>
        <!-- End of Main Content -->
    
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->
    
      </div>
      <!-- End of Content Wrapper -->
    
  </div>
  <!-- End of Page Wrapper -->
    


