
<style>
  agm-map {
    height: 500px;
    width: 100%;
  }
  </style>
  
  <!-- Page Wrapper -->
  <div id="wrapper">
  
      <!-- start of Sidebar -->
      <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->
    
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
    
        <!-- Main Content -->
        <div id="content">
    
          <app-topnavbar></app-topnavbar>
    
          <!-- Begin Page Content -->
          <div class="container-fluid">
    
            <h1>Módulo Clinicas</h1>
            <div class="col-md-12" >
              <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                          <input type="hidden" class="form-control" [(ngModel)]="id" name="id" id="id" placeholder="Código Barras">
                        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" id="nombre" placeholder="Nombre">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <input type="text" class="form-control" [(ngModel)]="cedula" name="cedula" id="cedula" placeholder="Cédula">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <input type="text" class="form-control" [(ngModel)]="direccion" name="direccion" id="direccion" placeholder="Direccion">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <input type="text" class="form-control" [(ngModel)]="administrador" name="administrador" id="administrador" placeholder="Nombre Administrador">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <div class="btn btn-success" (click)="ngOnGuardar()">Guardar</div>
                        <div class="btn btn-warning" (click)="ngOnActualizar()">Actualizar</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<br>
            <div class="col-md-12" >
              <div class="card border-left-primary shadow h-100 ">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Cedula</th>
                            <th>Dirección</th>
                            <th>Administrador</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="clinica in clinicas">
                            <td>{{ clinica }}</td>
                            <td>{{ clinica }}</td>
                            <td>{{ clinica }}</td>
                            <td>{{ clinica }}</td>
                            <td><div class="btn btn-warning" (click)="ngOnUpdate()">></div></td>
                            <td><div class="btn btn-danger" (click)="ngOnDelete()">X</div></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    
          </div>
          <!-- /.container-fluid -->
    
        </div>
        <!-- End of Main Content -->
    
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->
    
      </div>
      <!-- End of Content Wrapper -->
    
  </div>
  <!-- End of Page Wrapper -->
    


