<!-- Page Wrapper -->
<div id="wrapper">

    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <!-- Main Content -->
      <div id="content">
  
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >
          <div style="text-align: center;width: 100%;">
              <h2>FastLog App</h2>
          </div>
        </nav>
        <!-- End of Topbar -->
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
          
          <div class="row">
  
            <!-- login -->
            <div class=" col-md-6 " id="login">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Inicio Sesión</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <input type="email" [(ngModel)]="username" name="username" class="form-control" placeholder="Email" required="true">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Contraseña" required="true">
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                        <div class="btn btn-primary" (click)="ngOnInicioSesion()">Ingresar</div>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                        <p style="font-size: 9px;cursor: copy;" (click)="ngOnOlvido()">¿Olvidaste tu contraseña?</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- imagen -->
            <div class="col-md-6" >
              <div class="card border-left-primary shadow h-100 ">
                <div class="card-body" style="background-image: url(https://d500.epimg.net/cincodias/imagenes/2017/03/08/lifestyle/1488974611_491051_1488974927_noticia_normal.jpg);">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                        <br>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                        <br>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                        <br>
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Olvido contraseña-->
            <div class="col-md-6 " id="olvido">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2" style="text-align: center;">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Olvido de contraseña</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 "> 
                          <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email" required="true">
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                          <input type="number" [(ngModel)]="telefono" name="telefono" class="form-control" placeholder="telefono" required="true">
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                          <div class="btn btn-success">recordar contraseña</div>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-4 ">
                          <p style="font-size: 9px;cursor: copy;" (click)="ngOnInit()">Entrar</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            
          </div>


          <div id="respuesta"></div>
  
          
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  