<style>
agm-map {
  height: 500px;
  width: 100%;
}
</style>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- start of Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
      <!-- Main Content -->
      <div id="content">
  
        <app-topnavbar></app-topnavbar>
  
        <!-- Begin Page Content -->
        <div class="container-fluid">
  

          <!-- this creates a google map on the page with the given lat/lng from -->
          <!-- the component as the initial center of the map: -->
          <agm-map 
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
            (mapClick)="mapClicked($event)">

            <agm-marker 
                *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                
              <agm-info-window>
                <strong>InfoWindow content</strong>
              </agm-info-window>
              
            </agm-marker>
            
            <!--<agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
            </agm-circle>-->

          </agm-map>
          
  
        </div>
        <!-- /.container-fluid -->
  
      </div>
      <!-- End of Main Content -->
  
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  